<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>{% block title %}FriendsMappin - Find where your followers are{% endblock %}</title>
        <meta name="author" content="Emanuele Gaspari - @inmarelibero" />
        <meta name="description" content="Show on a map where your Twitter followers are" />
        <meta name="keywords" content="twitter friends mapping friend map geo geolocalize follower followers api">

        <meta property="og:title" content="FriendsMappin - Show on a map where your Twitter followers are" />
        <meta property="og:image" content="{{ asset('images/social-share.png', null, true) }}" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:description" content="Quite buggy, not completely working, but cool proof of concept. By inmarelibero." />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# HEADER JAVASCRIPT #}
        {% javascripts '@frontend_header_javascripts' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {# HEADER STYLESHEETS #}
        {% stylesheets '@frontend_stylesheets' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% if app.environment == 'prod' %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-58901174-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}

    </head>

    <body ng-app="mainApp" ng-controller="FriendsMappinController">

        <div growl></div>

        {% block header %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        {#
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        #}
                        <a class="navbar-brand" href="{{ path('homepage') }}">FriendsMappin</a>
                    </div>
                    <div class="">

                        <form class="navbar-form navbar-left" role="search" action="{{ path('user_form_submit') }}" method="POST">
                            <div class="input-group" style="width: 160px;">
                                <input id="username" type="text" class="form-control" name="username" ng-model="username" ng-init="username='{{ app.request.get('username', '') }}'" placeholder="Twitter user" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"
                                    </button>
                                </span>
                            </div>
                        </form>

                        <p class="navbar-text">
                            {% if (app.request.get('username')) %}
                                <span>{[{ user.friends_count }]} Friends</span> ({[{ users_fetched.friends.length }]} fetched, {[{ getUserFetchedWithLocation().friends.length }]} localized)
                                &nbsp;&nbsp;&nbsp;
                                <br class="visible-xs">
                                <span>{[{ user.followers_count }]} Followers</span> ({[{ users_fetched.followers.length }]} fetched, {[{ getUserFetchedWithLocation().followers.length }]} localized)
                            {% else %}
                                <= enter a Twitter username to find where his followers and followings are
                            {% endif %}
                        </p>
                    </div>
                </div>
            </nav>
            <div id="alert-operation" class="ng-hide" ng-show="operation_in_progress != ''">
                <p class="message">
                    <span us-spinner="{radius:4, width:2, length: 3, color: '#FFF'}" spinner-key="spinner-operation" style="position: relative; left: 15px; top: 13px; position: absolute;"></span>

                    {[{ operation_in_progress }]}
                </p>
                {#

                <br><br>
                <p style="font-size: 12px;">
                    While waiting, consider spreading the voice via
                    {% if (app.request.get('username')) %}
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="FriendMappin shows where followers of @{{ app.request.get('username') }} are. #twitter #map" data-url="{{ app.request.uri }}">Tweet</a>
                    {% else %}
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="FriendsMappin - Find where your followers are. #twitter #map" data-url="{{ app.request.uri }}">Tweet</a>
                    {% endif %}
                </p>
                #}
            </div>
        {% endblock %}

        {% block body '' %}

        <nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
            <div class="container-fluid">
                <p class="navbar-text">

                    {% if (app.request.get('username')) %}
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="FriendsMappin shows where followers of @{{ app.request.get('username') }} are. #twitter #map" data-url="{{ app.request.uri }}">Tweet</a>
                    {% else %}
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="FriendsMappin - Show on a map where your Twitter followers are. #twitter #map" data-url="{{ app.request.uri }}">Tweet</a>
                    {% endif %}

                    Buggy and not completely working proof of concept by <a href="https://twitter.com/inmarelibero" target="_blank">inmarelibero</a>. Released open source at <a ref="https://github.com/inmarelibero/FriendsMappin">inmarelibero/FriendsMappin</a>.

                </p>
            </div>
        </nav>

        {# FOOTER JAVASCRIPT #}
        {% javascripts '@frontend_footer_javascripts' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {# FOSJsRoutingBundle generated routes by controller #}
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script>
            var app = angular.module('mainApp', ['ui.bootstrap', 'angular-growl', 'ngProgress', 'angularSpinner'])
                .config(function($interpolateProvider){
                    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
                })
                .config(['growlProvider', function(growlProvider) {
                    growlProvider.globalTimeToLive(3000);
                    growlProvider.globalDisableCountDown(false);
                }]);

            app.controller('FriendsMappinController', ['$scope', '$http', 'growl', '$document', 'ngProgress', 'usSpinnerService', function($scope, $http, growl, $document, ngProgress, usSpinnerService) {

            }]);
        </script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        {% block javascripts '' %}

    </body>
</html>
